@font-face {
    src: src('lib/Hack-Regular.ttf');
    font-family: "Hack-Regular";
}
*{
  font-family: "Hack-Regular", monospace;
  user-select: none
}
html,body{
  font-family: "Hack-Regular", monospace;
  background-color: #000 !important;
  margin: 0;padding: 0;
  overflow: hidden;
  /* cursor : none; */
  /* cursor : pointer; */
}
canvas {
  image-rendering: pixelated;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #666;
}
#main{
  position: absolute;
  height: 100%;
  width : 100%;
}
#loading{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50vh;
  color:#eee;
}
#p5_loading{
  display: none;
}

canvas{
  position: absolute;
  left : 0;
  top : 0;
  width: 100%;
  height : 100%;
  
}
